# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "25KiB bootloader" and USB communication.

# This config is currently only correct for V2.0 boards
# 
# See docs/Config_Reference.md for a description of parameters.

[include ebb-sb-rp2040-canbus-v1.0.cfg]
[include mainsail.cfg]
[include stealthburner_leds.cfg]
[include test_speed.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include nevermore.cfg]


[virtual_sdcard]
[exclude_object]


[mcu]
##	[X in MOTOR1] - B Motor
##	[Y in MOTOR2] - A Motor
##	[E in MOTOR8] - Extruder
##	Obtain definition by "ls /dev/serial/by-id/*" then unplug to verify
##--------------------------------------------------------------------
canbus_uuid: 5abf292aa79c
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 5000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan:gpio24
position_min: 0

position_endstop: 300
position_max: 300

homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: ^PF2
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_min: 0

position_endstop: 300
position_max: 300

homing_speed: 100 #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 290
position_min: -3
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

[extruder]
max_extrude_cross_section: 5
control: mpc
heater_power: 64  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: PB1
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1
min_temp: 0
max_temp: 120


#####################################################################
# 	Probe
#####################################################################


[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_14D225C85157355957202020FF100222-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -20.0 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 270 # increase to probe at print temps
home_xy_position: 150, 150 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home


#####################################################################
# 	Fan Control
#####################################################################


[controller_fan SOC_FAN]
pin: PF6
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.5

[controller_fan stepper_fan]
pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.5


[controller_fan case_in01]
pin: PF9
max_power: 0.3
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.5

[controller_fan case_in02]
pin: PF7
max_power: 0.3
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.5

#[heater_fan fan4] ####Nevermore
#pin: PA4

#[heater_fan fan5]
#pin: PA6
#tachometer_pin: PC2

#[heater_fan fan6]
#pin: PA2
#tachometer_pin: PC1

#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
pin: PA3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions
gantry_corners:
	-60,-10
	360,370
##	Probe points
points:
	50,25
	50,225
	250,225
	250,25

speed: 500
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 20, 0
mesh_max: 280,220
zero_reference_position: 150,150 #for use with stock z endstop
probe_count: 9,9 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.


#[z_thermal_adjust]
#temp_coeff: 0.014549
#   The temperature coefficient of expansion, in mm/degC. For example, a
#   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
#   every degree Celsius that the temperature sensor increases. Defaults to
#   0.0 mm/degC, which applies no adjustment.
#smooth_time:
#   Smoothing window applied to the temperature sensor, in seconds. Can reduce
#   motor noise from excessive small corrections in response to sensor noise.
#   The default is 2.0 seconds.
#z_adjust_off_above:
#   Disables adjustments above this Z height [mm]. The last computed correction
#   will remain applied until the toolhead moves below the specified Z height
#   again. The default is 99999999.0 mm (always on).
#max_z_adjustment:
#   Maximum absolute adjustment that can be applied to the Z axis [mm]. The
#   default is 99999999.0 mm (unlimited).
#sensor_type: PT1000
#sensor_pin: EBBCan:gpio27
#min_temp: -273
#max_temp: 100
#   Temperature sensor configuration.
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.

[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 30
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 30
#   The speed of unretraction, in mm/s. The default is 10 mm/s.


[gcode_arcs]

[axis_twist_compensation]
speed: 300
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 25
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 275
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 150
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 5
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 245
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 150
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.

#####################################################################
# 	Displays
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.052229, 0.042748, 0.059625, 0.015331, 0.018013, 0.009320, 0.046085, 0.026732, 0.006077
#*# 	0.028829, 0.025631, 0.042696, -0.005728, -0.000368, -0.010676, 0.032686, 0.013582, -0.010344
#*# 	0.021387, 0.010690, 0.022936, -0.022961, -0.016786, -0.014943, 0.020756, -0.002335, -0.019791
#*# 	0.022008, 0.008455, 0.015377, -0.035090, -0.007014, -0.022555, 0.017212, -0.006364, -0.015394
#*# 	0.032968, 0.013297, 0.025592, -0.029334, -0.008233, -0.018336, 0.020740, 0.003994, -0.008251
#*# 	0.034206, 0.028380, 0.041330, -0.012650, -0.007289, -0.017746, 0.025253, 0.011357, -0.002805
#*# 	0.051997, 0.039050, 0.048552, -0.003235, 0.002021, -0.010668, 0.032651, 0.025192, 0.011765
#*# 	0.062026, 0.046038, 0.060725, 0.010549, 0.007259, 0.000310, 0.044172, 0.037796, 0.022545
#*# 	0.076319, 0.067513, 0.080373, 0.027555, 0.027049, 0.011877, 0.059465, 0.054396, 0.053880
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 0.0
#*# max_y = 220.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.258
#*# pid_ki = 1.119
#*# pid_kd = 293.689
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 79.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 44.4
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.941
#*# pid_ki = 8.493
#*# pid_kd = 40.172
#*#
#*# [beacon model default]
#*# model_coef = 1.5120150867465707,
#*# 	1.8585026195930856,
#*# 	0.7630987850624501,
#*# 	0.3633268496352319,
#*# 	0.5337445802445041,
#*# 	0.5266441106443064,
#*# 	-0.44008357167269035,
#*# 	-0.6665621545938548,
#*# 	0.23137001414927658,
#*# 	0.3207918435725943
#*# model_domain = 1.838901581243322e-07,1.9335681415578126e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 22.423167
#*# model_offset = 0.00000
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.022923, 0.020173, 0.006514
#*# compensation_start_x = 25.0
#*# compensation_end_x = 275.0
#*# zy_compensations = -0.046888, -0.018590, 0.069242
#*# compensation_start_y = 5.0
#*# compensation_end_y = 245.0
