# Third-party integrations (Spoolman, Obico) and related features (Exclude Object)

# --- Exclude Object ---
[exclude_object]

[gcode_macro M486]
gcode =
    {% if 'exclude_object' not in printer %}
      {action_raise_error("[exclude_object] is not enabled")}
    {% endif %}
    
    {% if 'T' in params %}
      EXCLUDE_OBJECT RESET=1
    
      {% for i in range(params.T | int) %}
        EXCLUDE_OBJECT_DEFINE NAME={i}
      {% endfor %}
    {% endif %}
    
    {% if 'C' in params %}
      EXCLUDE_OBJECT CURRENT=1
    {% endif %}
    
    {% if 'P' in params %}
      EXCLUDE_OBJECT NAME={params.P}
    {% endif %}
    
    {% if 'S' in params %}
      {% if params.S == '-1' %}
        {% if printer.exclude_object.current_object %}
          EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
        {% endif %}
      {% else %}
        EXCLUDE_OBJECT_START NAME={params.S}
      {% endif %}
    {% endif %}
    
    {% if 'U' in params %}
      EXCLUDE_OBJECT RESET=1 NAME={params.U}
    {% endif %}

# --- Spoolman ---
[gcode_macro SET_ACTIVE_SPOOL]
gcode =
    {% if params.ID %}
        {% set id = params.ID|int %}
        {action_call_remote_method(
        "spoolman_set_active_spool",
        spool_id=id
        )}
    {% else %}
        {action_respond_info("Parameter 'ID' is required")}
    {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode =
    {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
    )}

